body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4A5073;
  background-color: #f5f8fb;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(46, 54, 80, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
